/* Color-Scheme For All Themes*/

* {
    background:    #ffffffff;
    background-alt:    #ffffffff;
    foreground:    #606060ff;
    border:    #d81b60;
    selected:    #d81b60;
    urgent:    #d81b60;
	logo:    #d81b60;
	on:    #61C766ff;
	off:    #EC7875ff;
}