/* Color-Scheme For All Themes*/

* {
    background: #C5C8C6ff;
    background-alt: #bb72aa;
    foreground: #371b40ff;
    selected:   #bb72aa;
    border:    #bb72aa;
    selected:    #bb72aa;
    urgent:    #bb72aa;
	logo:    #bb72aa;
	on:    #bb72aa;
	off:    #bb72aa;
}
